body { /*affects body background and font properties*/
	background-color: #474350;
	text-align: center;
}

.jumbotron {
	background-color: #474350;
	padding-bottom: 0%;
	padding-top: 3%;
}

#buttons {
	padding-bottom: 25px
}

#TOPwrapper {
	margin: auto;
	width: 100%;
	min-width: 960px;
}

#main {
	background-color: white;
	text-align: center;
	margin: 0 auto;
	border-radius: 30px;
}

.btn {
	background-color: #18A999;
	border: 3px solid #109648;
}

#cont1 {
	width: 100%;
	vertical-align: middle;
}

img { 
	width: 800px;

	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

/*RSS table style code*/
.rssincl-title {
	font-size: xx-large;
	padding-top: 10px;
	font-weight: bold;
	text-align: left;
	color: #109648;
}

.rssincl-itemtitle {
	text-align: left;
}

.rssincl-itemtitle > a{
	color: #18A999;
	text-align: left;
}

.rssincl-itemdesc {
	text-align: left;
}

.rssincl-itemdesc > a{
	text-align: left;
	color: #18A999;
}

.rssincl-itemdate {
	text-align: left;
}

.rssincl-itemdate > a{
	text-align: left;
	color: #18A999;
}

.rssincl-content {
	text-align: left;
}

.rssincl-content > a{
	color: #18A999;
	text-align: left;
}

p > a{
	color: #18A999;
	text-align: left;
}

li > a{
	color: #18A999;
	text-align: left;
}